
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    background-color: #f2f2f2;
}

.form1 {
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 80%;
    max-width: 1200px;
    width: 100%;
}
.form2 {
    margin: auto;
    display: grid;
    /* align-items: center; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    max-width: 1200px;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    font-size: 18px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 10px;
    font-family: Arial, sans-serif;
}
select {
    font-size: 18px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 10px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}
.form-select {
    /* width: auto; */
    /* max-width: 200px; */
}
button[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    border: none;
    /* width: 120px; */
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.youtube-image {
    height: 70px;
    margin-right: 10px;
}
/* img {
    height: 70px;
    margin-right: 10px;
} */

.search-area {
    display: grid;
    place-items: center;
    background-color: lightblue;
    /* height: 70%; */
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.title{
    margin-bottom: 0px;
}
.footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2)
/* height: 50px; */
}
#thumbnail {
    height: 100px;
    border-radius: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}
#video-player {
    border-radius: 7%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}
#thumbnail:hover {
    transform: scale(1.1);
}
.content {
    flex: 1;
}